footer
  .container.text-center
    p.pull-left This project is released under the MIT license.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/kiliankoe/simpledvb') GitHub Project
      li
        a(href='https://github.com/kiliankoe/simpledvb/issues') Issues
