extends layout

block content
    h1 SimpleDVB API
    p.lead SimpleDVB also includes a RESTful API which returns pretty json, use it as follows.
    hr

    h3 Monitor a stop
    p Monitor a single stop to see every bus or tram leaving this stop.

    pre
        a(href='http://simpledvb.herokuapp.com/api/monitor/helmholtzstrasse') /api/monitor/helmholtzstrasse

    pre
        | [{
        |   line: "85",
        |   direction: "Striesen",
        |   arrivaltime: "4"
        | }]

    p You can also specify how many results to return by adding the number to the end of the route.

    pre
        a(href='http://simpledvb.herokuapp.com/api/monitor/helmholtzstrasse/2') /api/monitor/helmholtzstrasse/2

    pre
        | [{
        |   line: "85",
        |   direction: "Striesen",
        |   arrivaltime: "4"
        | },
        | {
        |   line: "85",
        |   direction: "Löbtau Süd",
        |   arrivaltime: "4"
        | }]

    h3 Find a route
    p Query the server for possible routes from one stop to another. Returns multiple possible trips, the bus-/tramlines to be taken, the single stops where the interchanges happen, the arrival and departure times for each of these stops and their coordinates (in Gauß-Krüger coordinates, for now at least).

    pre
        a(href='http://simpledvb.herokuapp.com/api/route/helmholtzstrasse/zellescherweg') /api/route/helmholtzstrasse/zellescherweg

    pre
        | {
        |    "origin": "Dresden, Helmholtzstraße",
        |    "destination": "Dresden, Zellescher Weg",
        |    "trips": [{
        |        "departure": "13:34",
        |        "arrival": "13:56",
        |        "duration": "00:22",
        |        "interchange": "2",
        |        "nodes": [{
        |            "mode": "Stadtbus",
        |            "line": "85",
        |            "direction": "DD Löbtau Süd Mohorner Str.",
        |            "departure": {
        |                "stop": "Helmholtzstraße",
        |                "time": "13:34",
        |                "coords": "4621158.00000,504097.00000"
        |            },
        |            "arrival": {
        |                "stop": "Plauen Nöthnitzer Straße",
        |                "time": "13:36",
        |                "coords": "4620527.00000,503940.00000"
        |            }
        |        },
        |        {...}
        |        ]
        |    }, {
        |        "departure": "14:02",
        |        "arrival": "14:11",
        |        "duration": "00:09",
        |        "interchange": "1",
        |        "nodes": [...]
        |    },
        |    {...}
        |    ]
        |}


    h3 Find a stop
    p Search for a single stop in the network of the DVB. Also returns the coordinates of this stop (also Gauß-Krüger for now).

    pre
        a(href='http://simpledvb.herokuapp.com/api/find/zellesch') /api/find/zellesch

    pre
        | [{
        |  stop: 'Zellescher Weg',
        |  coords: '4622580.00000,503749.00000'
        | }]
