extends layout

block content
    h1 SimpleDVB API
    p.lead
        | SimpleDVB exposes a RESTful API at
        =" "
        code /api
        =" "
        | returning pretty json. Use it as follows.
    hr

    h3 Monitor a stop
    p Monitor a single stop to see every bus or tram leaving this stop.

    pre
        a(href='/api/monitor/helmholtzstrasse') /api/monitor/helmholtzstrasse

    pre
        | [{
        |     line: "85",
        |     direction: "Striesen",
        |     arrivaltime: 4
        | },
        | {
        |     line: "85",
        |     direction: "Löbtau Süd",
        |     arrivaltime: 4
        | },
        | {
        |     line: "85",
        |     direction: "Striesen",
        |     arrivaltime: 12
        | },
        | {
        |     line: "85",
        |     direction: "Löbtau Süd",
        |     arrivaltime: 14
        | }]

    p
        | Specify a time offset by adding the number of minutes to offset the results by to the end of the route.
        | Doing so will display results from the future accordingly.

    pre
        a(href='/api/monitor/helmholtzstrasse/30') /api/monitor/helmholtzstrasse/30

    p
        | You can also set the number of results you want by adding
        =" "
        code ?n=10
        =" "
        | to the end of the URL.
        | Interestingly enough the maximum amount of results you can get differs from time to time.
        | This is unfortunately not something I can do anything about, you're just going to have to live with it.
        | It is however quite functional and should only limit you in edge cases.
        | The default number of results is 4, but that also doesn't mean that you always get 4 results.
        | If some connections are too far off, they might not be inside the results array.

    h3 Find a route
    p
        | Query the server for possible routes from one stop to another.
        | Returns multiple possible trips, the bus-/tramlines to be taken, the single stops where the interchanges happen, the arrival and departure times for each of these stops and their coordinates.

    p
        | The path property contains an array consisting of all the coordinates describing the path of this node.
        | Useful for example to draw on a map.

    pre
        a(href='/api/route/helmholtzstrasse/zellescherweg') /api/route/helmholtzstrasse/zellescherweg

    pre
        | {
        |    "origin": "Dresden, Helmholtzstraße",
        |    "destination": "Dresden, Zellescher Weg",
        |    "trips": [{
        |        "departure": "13:34",
        |        "arrival": "13:56",
        |        "duration": "00:22",
        |        "interchange": 2,
        |        "nodes": [{
        |            "mode": "Stadtbus",
        |            "line": "85",
        |            "direction": "DD Löbtau Süd Mohorner Str.",
        |            "departure": {
        |                "stop": "Helmholtzstraße",
        |                "time": "13:34",
        |                "coords": [ 51.025549, 13.725457 ]
        |            },
        |            "arrival": {
        |                "stop": "Plauen Nöthnitzer Straße",
        |                "time": "13:36",
        |                "coords": [ 51.027625, 13.715769 ]
        |            },
        |            "path": [[ 51.02554, 13.725471 ],[ 51.02557, 13.725286 ], ...]
        |        },
        |        {...}
        |        ]
        |    }, {
        |        "departure": "14:02",
        |        "arrival": "14:11",
        |        "duration": "00:09",
        |        "interchange": 1,
        |        "nodes": [...]
        |    },
        |    {...}
        |    ]
        |}

    p
        | You may call this route with different parameters depending on how specific you want to be.
        | Include just the time or call it with the entire date and time of when you're looking for the route.
        | If you don't include the date or time, it will default to the current time as in the example above.
        | Adding
        =" "
        code /arr
        =" "
        | to any of these URLs will tell the server to interpret the time as arrival time instead of default departure time and return according data.

    pre
        a(href='/api/route/helmholtzstrasse/zellescherweg/13/37') /api/route/helmholtzstrasse/zellescherweg/13/37
    pre
        a(href='/api/route/helmholtzstrasse/zellescherweg/2014/08/15/13/37') /api/route/helmholtzstrasse/zellescherweg/2014/08/15/13/37
    pre
        a(href='/api/route/helmholtzstrasse/zellescherweg/2014/08/15/13/37/arr') /api/route/helmholtzstrasse/zellescherweg/2014/08/15/13/37/arr

    p
        | Be aware though that I cannot vouch for how exact either historic data or data quite a bit in the future turns out to be. Recommended usage is definitely current information ;)


    h3 Find a stop
    p
        | Search for a single stop in the network of the DVB.
        | Also returns the coordinates of this stop.

    p
        | Note that all the other methods don't expect perfect stop names, meaning you don't have to look up stops before requesting a route for example.
        | As long as what you entered exists just once in the DVB database, it'll work.
        | "zelle" for example is already interpreted as "Zellescher Weg".

    p
        | The find method is a bit quirky at times as well.
        | It happily returns everything starting with "Alt", but "Zell" won't return anything.
        | Please work around this.

    pre
        a(href='/api/find/zellesch') /api/find/zellesch

    pre
        | [{
        |     stop: 'Zellescher Weg',
        |     coords: [51.028366, 13.745847]
        | }]

    h3 Additional information
    p
        | Use this API for whatever you like, but please don't stress it too much.
        | It's running on a single heroku dyno.
        | That also means that it's put to sleep automatically if not being called for a while.
        | Just be patient if this happens, Heroku wakes it up and it should work just fine.

    p
        | The code for this simple webapp is available on GitHub (see the footer).
        | So you can happily host your own copy if you like, on Heroku as well or not.
        | I'm also grateful for any reported issues and/or pull requests.

    p
        | This api and site is powered by a relatively small node module called
        =" "
        a(href='https://github.com/kiliankoe/dvbjs') dvbjs
        | .
        | Use it if you want to access DVB data from within your code directly.

    p
        | All of the data returned by this API of course belongs to the Dresdner Verkehrsbetriebe (DVB).
        | Please see their site
        =" "
        a(href='http://dvb.de') dvb.de
        =" "
        | for more information regarding their services.
        | I'm just offering a slightly easier way to access this information for those wanting to build awesome stuff :)

    p
        | This service is maintained by
        =" "
        a(href='mailto:simpledvb@koeltzs.ch') Kilian Koeltzsch
        | .
        | Please contact me should any questions arise.
